* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: cyan;
  background: url("image.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  text-align: center;
  background: rgba(0, 0, 0, 0.25); 
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color:greenyellow;
}


.input label {
  display: block;
  font-size: 18px;
  margin: 10px 0 5px;
}

.input input {
  width: 90%;
  padding: 8px;
  margin-bottom: 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

#calculate {
  background-color:dodgerblue;
  color:white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#calculate:hover {
  background-color:royalblue;
}

.output p {
  font-size: 18px;
  margin: 10px 0;
}

#live-time {
  font-size: 20px;
  color: #00FF00;
}

#todays-date {
  font-size: 20px;
  color: #FF4500;
}

#minutes {
  color: yellow;
}

#hours {
  color: lightblue;
}

#days {
  color: orange;
}

#months {
  color: violet;
}

#years {
  color: #FFD700;
}
